
@font-face{
    font-family:"Negara Serif Hairline"; 
    src:url(1.otf); 
    }
    body{background: url(ConBack.jpg) 100% 100% no-repeat; /* Добавляем фон */
      background-size: cover; }
.content{
    /* border:1px solid black; */
    height:100% ;

    font-family:"Negara Serif Hairline"; 
    font-size:20px;
    margin-top: 100px;

   }
   .ChapterRooms{
      font-family:"Negara Serif Hairline"; 
      font-size: 35pt;
      text-align: center;
      margin-top: 30px;
     
   }
   .rooms{
   min-width: 500px;
   max-height: 625px;
   border:1px solid black;
   margin-bottom: 40px;
   }
.fontRooms{
   font-family:"Negara Serif Hairline"; 
   font-size:24pt;


}
.footer{
    border:1px solid black;
    height:142px;
    background-color: grey;
    }
        .footer div{
      float:left;
     color: white;
     margin-left: 23px;
    }


    * {
      margin: 0;
      padding: 0;
   } 

    .slider {
      width:1700px; 
      height: 600px;
      overflow: hidden;
   
   }
   
   .middle {
      position: relative;
margin-top: 320px;
      left: 50%;
      transform: translate(-50%, -50%); 
   }
   
   .navigation {
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
   }
   .bar {
      height: 8px;
      width: 30px;
      margin: 6px;
      cursor: pointer;
      background-color: #ddd;
      opacity: .7;
      border-radius: 10px;
      transition: all .4s ease;
   }
   .bar:hover {
      opacity: 1;
      transform: scale(1.1);
   }
   
   input[name="r"] {
      position: absolute;
      visibility: hidden;
   }
   
   .slides {
      width: 2000%; 
      height: 100%;
      display: flex;
   }
   
   .slide {
      width: 1700px;  
      transition: all .6s ease; 
   }
   
   .slide img {
      width:  100%;
      height: 100%;
   }
   
   #r1:checked ~ .s1 {
      margin-left: 0;
   }
   #r2:checked ~ .s1 {
      margin-left: -5%;
   }
   #r3:checked ~ .s1 {
      margin-left: -10%;
   }
   #r4:checked ~ .s1 {
      margin-left: -15%;
   }
  


   #r5:checked ~ .s2 {
      margin-left: 0;
   }
   #r6:checked ~ .s2 {
      margin-left: -5%;
   }
   #r7:checked ~ .s2 {
      margin-left: -10%;
   }
   #r8:checked ~ .s2 {
      margin-left: -15%;
   }
  
  
   #r9:checked ~ .s3 {
      margin-left: 0;
   }
   #r10:checked ~ .s3 {
      margin-left: -5%;
   }
   #r11:checked ~ .s3 {
      margin-left: -10%;
   }
   #r12:checked ~ .s3 {
      margin-left: -15%;
   }
   *{padding: 0;margin: 0;border: 0;}
         *,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
         :focus,:active{outline: none;}
         a:focus,a:active{outline: none;}
         nav,footer,header,aside{display: block;}
         html,body{width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
         input,button,textarea{font-family:inherit;}
         input::-ms-clear{display: none;}
         button{cursor: pointer;}
         button::-moz-focus-inner{padding:0;border:0;}
         a,a:visited{text-decoration: none;}
         a:hover{text-decoration: none;}
         ul li{list-style: none;}
         img{vertical-align: top;}
         h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
         /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
         /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
         * {
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box;
         }
            
         a {
             color: white;
             text-decoration: none;
             font-weight: 600;
            }
         header {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 20;
            height:80px;
            background: grey;
             box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
             display: flex;
             padding: 5px 0;
             align-items: center;
             justify-content: space-between;
            background-color:grey;
         
         }
         
         .container{
             width: 100%;
             max-width: 1180px;
             margin: 0 auto;
             padding: 10px;
             position: relative;
         }
         .content-wrapper{
            width: 100%;
         }
         .header__nav {
             position: absolute;
             right: 36px;
             display: block;
         }
         .header__menu {
             display: flex;
            position: relative;
            z-index: 2;
         }
         .header__logo{
             flex: 0 0 60px;
             border-radius: 50%;
             overflow: hidden;
             position: relative;
             z-index: 3 ;
         }
         
         .header__body{
             position: relative;
             display: flex;
             justify-content: space-between;
             height: 40px;
             align-items: center;
         }
         
         .header__logo img{
             max-width: 100%;
             display: block;
         }
         .header__menu li {
            list-style: none;
            margin: 0px 0px 0px 36px;
            color: #000;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
         }
         .content-wrapper{
             margin-top: 50px;
             padding: 10px;
             line-height: 34px;
         }
         @media(max-width: 810px){
            body.lock{
                 overflow: hidden;
             }
            .header__logo{
                 flex: 0 0 40px;
             }
         .header__nav {
            display: block;
            position: absolute;
             top: 55px;
             left: 0;
             background: rgb(245, 246, 246);
             box-shadow: #ccc;
             width: 100%;
             box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
             transition: all 0.4s ease;
            left:-100%;
         }
         .header__menu {
            display: block;
         }
         .header__nav.open-menu{
             left:0;
         }
         .header__menu li {
            margin: 40px 0px 40px 33px;
             font-size: 14px;
            }
         .menu-burger__header {
            position: relative;
            width: 40px;
             height: 35px;
             display: block;
             margin-left: 10px;
            }
         .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
            height: 3px;
            width: 100%;
            position: absolute;
            background: #515758;
            margin: 0 auto;
         }
         .menu-burger__header span{
            top: 16px;
         }
         .menu-burger__header:after, .menu-burger__header:before{
            content: '';
         }
         .menu-burger__header:after{
            bottom: 5px;
         }
         .menu-burger__header:before{
            top: 5px;
         }
         .menu-burger__header.open-menu span {
            opacity:0; 
             transition: 0.5s; 
         }
         .menu-burger__header.open-menu:before {
            transform: rotate(38deg);
             top: 16px;
             transition: 0.4s;
         }
         .menu-burger__header.open-menu:after {
            transform: rotate(-38deg);
             bottom: 16px;
             transition: 0.4s;
         }
         
         header {
            height: 60px;
         }
         .content-wrapper {
             margin-top: 48px;
         }
         .fixed-pade {
             overflow: hidden;
         }
         }
         
 